appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
DateTime==4.3
defusedxml==0.7.1
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2
django-allauth==0.44.0
django-ckeditor==6.0.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-multiselectfield==0.1.12
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.9
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.22
numpy==1.20.2
oauthlib==3.1.0
opencv-python==4.5.1.48
Paste==3.5.0
Pillow==8.2.0
psycopg2==2.8.6
pycparser==2.20
PyJWT==2.1.0
PyMySQL==0.10.1
python-dateutil==1.5
python3-openid==3.2.0
pytz==2020.4
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
virtualenv==20.4.3
waitress==1.4.4
Werkzeug==1.0.1
whitenoise==5.2.0
zope.interface==5.2.0
